@import './loading.less';
.container {
  display: flex;
  
  .nav-left {
    width: 15%;
    min-width: 180px;  
    height: calc(100vh);
    background-color: #001529;
  }
  .main {
    flex: 1;
    background-color: #f1f3f5;
    overflow: auto;
    height: calc(100vh);
  }
  .content{
    //background-color: rgb(241, 237, 237);
    padding: 20px;
  }
}